I make a little experiment for this dataset and make a neural network classifying using scikit-learn library.

In [91]:
import pandas as pd

In [92]:
df = pd.read_csv('../input/AirQualityUCI.csv')

In [93]:
df.head()

,Date,Time,CO_GT,PT08_S1_CO,NMHC_GT,C6H6_GT,PT08_S2_NMHC,Nox_GT,PT08_S3_Nox,NO2_GT,PT08_S4_NO2,PT08_S5_O3,T,RH,AH,CO_level
0,11/23/2004,19:00:00,11.9,2008,-200,50.6,1980,1389,325,220,2562,2342,12.4,74.7,1.0741,Very High
1,11/23/2004,20:00:00,11.5,1918,-200,49.4,1958,1358,335,190,2477,2237,11.5,76.2,1.0324,Very High
2,11/17/2004,18:00:00,10.2,1802,-200,47.7,1924,748,356,192,2235,2452,13.7,52.8,0.8244,Very High
3,11/23/2004,18:00:00,10.2,1982,-200,49.5,1959,1369,322,227,2536,2386,13.2,72.6,1.0936,Very High
4,11/26/2004,18:00:00,10.1,1956,-200,45.2,1877,1389,347,255,2338,2465,15.5,62.8,1.0979,Very High

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 16 columns):
Date            9357 non-null object
Time            9357 non-null object
CO_GT           9357 non-null float64
PT08_S1_CO      9357 non-null int64
NMHC_GT         9357 non-null int64
C6H6_GT         9357 non-null float64
PT08_S2_NMHC    9357 non-null int64
Nox_GT          9357 non-null int64
PT08_S3_Nox     9357 non-null int64
NO2_GT          9357 non-null int64
PT08_S4_NO2     9357 non-null int64
PT08_S5_O3      9357 non-null int64
T               9357 non-null float64
RH              9357 non-null float64
AH              9357 non-null float64
CO_level        9357 non-null object
dtypes: float64(5), int64(8), object(3)
memory usage: 1.1+ MB

I do some data preprocessing like Data Cleaning and Data Reduction. <br>
1. Data Reduction<br>
The dataset have 16 columns and 9357 rows. I choose 13 columns for data mining. I'm not using date, time, and C6H6_GT attributes. You can see description about the attributes, and although maybe this dataset for timeseries, but i'm not using date and time. Whereas C6H6_GT haven't sensor measure result, since it's not relevant with another attributes that have actual and sensor measures. But, this is just my opinion.<br>
2. Data Cleaning<br>
There are some missing value in this dataset, you can see there are 200 and -200 values in each column, that's missing value. This missing value can make a bad classify result because the value sometimes not relevant with range in some columns. I fill the missing value with mean or median value from each columns. But, first i check if it's a null value.

In [95]:
#reduce columns
df = df.drop('Date', axis=1)
df = df.drop('Time', axis=1)
df = df.drop('C6H6_GT', axis=1)

In [96]:
#check null value
df.isnull().sum()

CO_GT           0
PT08_S1_CO      0
NMHC_GT         0
PT08_S2_NMHC    0
Nox_GT          0
PT08_S3_Nox     0
NO2_GT          0
PT08_S4_NO2     0
PT08_S5_O3      0
T               0
RH              0
AH              0
CO_level        0
dtype: int64

Seems like no null value in data. Let's check the missing values.

In [15]:
df['CO_GT'].min()

-200.0

In [17]:
df['PT08_S1_CO'].min()

-200

In [18]:
df['NMHC_GT'].min()

-200

In [19]:
df['PT08_S2_NMHC'].min()

-200

In [20]:
df['Nox_GT'].min()

-200

In [21]:
df['PT08_S3_Nox'].min()

-200

In [22]:
df['NO2_GT'].min()

-200

In [23]:
df['PT08_S4_NO2'].min()

-200

In [24]:
df['PT08_S5_O3'].min()

-200

In [25]:
df['T'].min()

-200.0

In [26]:
df['RH'].min()

-200.0

In [27]:
df['AH'].min()

-200.0

I do some cross check that every attributes imposibble have minus value except T (Temperature). But, it's impossible too if the Temperature -200, because this case about Very High, High, Moderate, Low, Very Low pollution in the air. <br>
But first, i fill this missing value with 0 value, because if i fill with mean, the value was not representative because it's contain with -200 value.

In [144]:
df.CO_level.unique()

array(['Very High', 'High', 'Moderate', 'Low', 'Very low'], dtype=object)

In [97]:
for i in df.ix[df['CO_GT']<0].index:
    df.loc[i, 'CO_GT'] = 0
for i in df.ix[df['PT08_S1_CO']<0].index:
    df.loc[i, 'PT08_S1_CO'] = 0
for i in df.ix[df['NMHC_GT']<0].index:
    df.loc[i, 'NMHC_GT'] = 0
for i in df.ix[df['PT08_S2_NMHC']<0].index:
    df.loc[i, 'PT08_S2_NMHC'] = 0
for i in df.ix[df['Nox_GT']<0].index:
    df.loc[i, 'Nox_GT'] = 0
for i in df.ix[df['PT08_S3_Nox']<0].index:
    df.loc[i, 'PT08_S3_Nox'] = 0
for i in df.ix[df['NO2_GT']<0].index:
    df.loc[i, 'NO2_GT'] = 0
for i in df.ix[df['PT08_S4_NO2']<0].index:
    df.loc[i, 'PT08_S4_NO2'] = 0
for i in df.ix[df['PT08_S5_O3']<0].index:
    df.loc[i, 'PT08_S5_O3'] = 0
for i in df.ix[df['RH']<0].index:
    df.loc[i, 'RH'] = 0
for i in df.ix[df['AH']<0].index:
    df.loc[i, 'AH'] = 0
#this case because it's possible the Temperature have minus degree,
#so i just fill 0 that have -200 value
for i in df.ix[df['T']==-200].index:
    df.loc[i, 'T'] = 0

In [30]:
#if you check min value has change
df['CO_GT'].min()

0.0

In [32]:
df['CO_GT'].mean()
#1.765

1.7655445121299898

In [33]:
df['CO_GT'].median()
#1.5

1.5

In [34]:
df['PT08_S1_CO'].mean()
#1056.81

1056.8130811157423

In [35]:
df['PT08_S1_CO'].median()
#1053.0

1053.0

In [36]:
df['NMHC_GT'].mean()
#21.373

21.373730896654912

In [37]:
df['NMHC_GT'].median()
#0

0.0

In [38]:
df['PT08_S2_NMHC'].mean()
#902.41

902.4182964625414

In [39]:
df['PT08_S2_NMHC'].median()
#895.0

895.0

In [40]:
df['Nox_GT'].mean()
#203.649

203.6495671689644

In [41]:
df['Nox_GT'].median()
#141.0

141.0

In [42]:
df['PT08_S3_Nox'].mean()
#802.813

802.8131879876029

In [43]:
df['PT08_S3_Nox'].median()
#794.0

794.0

In [44]:
df['NO2_GT'].mean()
#93.245

93.24559153574863

In [45]:
df['NO2_GT'].median()
#96.0

96.0

In [46]:
df['PT08_S4_NO2'].mean()
#1399.302

1399.3026611093298

In [47]:
df['PT08_S4_NO2'].median()
#1446.0

1446.0

In [48]:
df['PT08_S5_O3'].mean()
#982.895

982.8950518328525

In [49]:
df['PT08_S5_O3'].median()
#942.0

942.0

In [50]:
df['T'].mean()
#17.601

17.601325211071927

In [51]:
df['T'].median()
#17.2

17.2

In [52]:
df['RH'].mean()
#47.308

47.308400128246056

In [53]:
df['RH'].median()
#48.6

48.6

In [54]:
df['AH'].mean()
#0.985

0.9854165544512143

In [55]:
df['AH'].median()
#0.9768

0.9768

You can see that NMHC_GT median value is 0, that's make posibble if NMHC_GT value contains many 0 values. so that's why i fill the missing value with mean value. But, in some cases like PT08_S4_NO2 and PT08_S5_O3 that have difference quite large between mean and median, possibility because both of this column have a lot of pretty high value. So, i choose to fill both of this attributes with median value.

In [135]:
for i in df.ix[df['CO_GT']==0].index:
    df.loc[i, 'CO_GT'] = df['CO_GT'].mean()
for i in df.ix[df['PT08_S1_CO']==0].index:
    df.loc[i, 'PT08_S1_CO'] = df['PT08_S1_CO'].mean()
for i in df.ix[df['NMHC_GT']==0].index:
    df.loc[i, 'NMHC_GT'] = df['NMHC_GT'].mean()
for i in df.ix[df['PT08_S2_NMHC']==0].index:
    df.loc[i, 'PT08_S2_NMHC'] = df['PT08_S2_NMHC'].mean()
for i in df.ix[df['Nox_GT']==0].index:
    df.loc[i, 'Nox_GT'] = df['Nox_GT'].median()
for i in df.ix[df['PT08_S3_Nox']==0].index:
    df.loc[i, 'PT08_S3_Nox'] = df['PT08_S3_Nox'].mean()
for i in df.ix[df['NO2_GT']==0].index:
    df.loc[i, 'NO2_GT'] = df['NO2_GT'].mean()
for i in df.ix[df['PT08_S4_NO2']==0].index:
    df.loc[i, 'PT08_S4_NO2'] = df['PT08_S4_NO2'].median()
for i in df.ix[df['PT08_S5_O3']==0].index:
    df.loc[i, 'PT08_S5_O3'] = df['PT08_S5_O3'].median()
for i in df.ix[df['T']==0].index:
    df.loc[i, 'T'] = df['T'].mean()
for i in df.ix[df['RH']==0].index:
    df.loc[i, 'RH'] = df['RH'].mean()
for i in df.ix[df['AH']==0].index:
    df.loc[i, 'AH'] = df['AH'].mean()

In [136]:
#and if you check minimum value has change
df['CO_GT'].min()

0.10000000000000001

In [137]:
X = df.drop('CO_level', axis=1)
y = df.loc[:,'CO_level'].values

In [145]:
X

,CO_GT,PT08_S1_CO,NMHC_GT,PT08_S2_NMHC,Nox_GT,PT08_S3_Nox,NO2_GT,PT08_S4_NO2,PT08_S5_O3,T,RH,AH
0,11.900000,2008.000000,21.373731,1980.000000,1389.0,325.000000,220.0,2562.0,2342.0,12.400000,74.700000,1.074100
1,11.500000,1918.000000,21.376015,1958.000000,1358.0,335.000000,190.0,2477.0,2237.0,11.500000,76.200000,1.032400
2,10.200000,1802.000000,21.378300,1924.000000,748.0,356.000000,192.0,2235.0,2452.0,13.700000,52.800000,0.824400
3,10.200000,1982.000000,21.380584,1959.000000,1369.0,322.000000,227.0,2536.0,2386.0,13.200000,72.600000,1.093600
4,10.100000,1956.000000,21.382869,1877.000000,1389.0,347.000000,255.0,2338.0,2465.0,15.500000,62.800000,1.097900
5,9.900000,1881.000000,21.385155,1983.000000,1479.0,334.000000,269.0,2271.0,2523.0,12.600000,55.900000,0.814200
6,9.500000,1908.000000,21.387440,2007.000000,952.0,325.000000,180.0,2775.0,2372.0,22.500000,61.500000,1.657900
7,9.400000,1816.000000,21.389726,1851.000000,1184.0,341.000000,171.0,2405.0,2069.0,15.400000,73.000000,1.268800
8,9.300000,1056.813081,21.392012,902.418296,1310.0,802.813188,248.0,1446.0,942.0,17.601325,47.308400,0.985417
9,9.200000,1778.000000,21.394298,1935.000000,859.0,349.000000,119.0,2643.0,1927.0,20.900000,67.500000,1.653900
10,9.100000,1056.926025,21.396584,902.514740,1253.0,802.898986,219.0,1446.0,942.0,17.603206,47.313456,0.985522
11,9.100000,1701.000000,21.398871,1692.000000,1220.0,402.000000,252.0,1832.0,2415.0,6.200000,56.900000,0.541900
12,8.700000,1882.000000,21.401158,1920.000000,1014.0,328.000000,171.0,2609.0,2204.0,23.100000,61.100000,1.708200
13,8.700000,1704.000000,21.403445,1689.000000,1070.0,402.000000,242.0,1820.0,2480.0,7.100000,50.300000,0.510000
14,8.700000,1615.000000,21.405733,1712.000000,1230.0,384.000000,225.0,1811.0,2312.0,7.800000,48.100000,0.511500
15,8.600000,1510.000000,21.408020,1501.000000,881.0,456.000000,185.0,1901.0,1855.0,15.200000,57.500000,0.982900
16,8.600000,1057.038980,21.410308,902.611193,1235.0,802.984793,227.0,1446.0,942.0,17.605088,47.318513,0.985627
17,8.600000,1057.151948,21.412596,902.707657,1237.0,803.070610,203.0,1446.0,942.0,17.606969,47.323570,0.985733
18,8.600000,1683.000000,21.414885,1831.000000,1216.0,374.000000,272.0,1964.0,2331.0,9.200000,39.300000,0.457300
19,8.500000,1630.000000,21.417173,1622.000000,1089.0,421.000000,247.0,1757.0,2238.0,8.000000,45.900000,0.493600
20,8.400000,1808.000000,21.419462,1771.000000,686.0,373.000000,163.0,2486.0,2235.0,24.300000,54.300000,1.627600
21,8.400000,1824.000000,21.421751,1862.000000,860.0,340.000000,149.0,2567.0,2106.0,21.000000,64.900000,1.598700
22,8.400000,1822.000000,21.424041,1890.000000,918.0,347.000000,187.0,2641.0,2161.0,23.200000,58.700000,1.651000
23,8.400000,1669.000000,21.426330,1686.000000,1074.0,384.000000,181.0,2066.0,1961.0,10.100000,79.300000,0.979500
24,8.400000,1057.264928,21.428620,902.804131,1028.0,803.156436,276.0,1446.0,942.0,17.608851,47.328627,0.985838
25,8.300000,1623.000000,21.430910,1547.000000,832.0,414.000000,188.0,2040.0,1883.0,16.200000,62.600000,1.145500
26,8.300000,1693.000000,21.433201,1590.000000,1189.0,412.000000,178.0,1949.0,2025.0,10.400000,79.300000,0.999300
27,8.100000,1961.000000,618.000000,1701.000000,478.0,537.000000,149.0,2665.0,2184.0,14.800000,54.300000,0.907600
28,8.100000,1870.000000,21.435491,1871.000000,1001.0,351.000000,180.0,2483.0,2165.0,23.000000,54.200000,1.506600
29,8.100000,1759.000000,21.437782,1588.000000,1155.0,437.000000,205.0,1971.0,2234.0,14.600000,67.700000,1.116400
...,...,...,...,...,...,...,...,...,...,...,...,...
9327,2.106671,898.000000,52.521760,624.000000,129.0,987.000000,108.0,825.0,871.0,0.800000,53.800000,0.354200
9328,2.106896,1098.849801,52.527373,938.313674,88.0,834.746586,83.0,1446.0,942.0,18.303407,49.190180,1.024613
9329,2.107121,1154.000000,52.532987,788.000000,223.0,709.000000,146.0,1065.0,1390.0,5.100000,65.900000,0.582700
9330,2.107346,802.000000,52.538601,440.000000,31.0,1413.000000,30.0,738.0,312.0,6.900000,39.100000,0.390100
9331,2.107572,874.000000,52.544216,472.000000,49.0,1179.000000,45.0,803.0,382.0,6.400000,49.800000,0.481400
9332,2.107797,879.000000,52.549832,447.000000,38.0,1317.000000,36.0,910.0,348.0,4.000000,81.500000,0.671200
9333,2.108022,884.000000,52.555448,528.000000,96.0,1148.000000,86.0,960.0,619.0,2.900000,85.300000,0.650300
9334,2.108247,980.000000,52.561064,744.000000,174.0,840.000000,119.0,979.0,970.0,2.800000,70.900000,0.538300
9335,2.108473,790.000000,52.566682,471.000000,81.0,1302.000000,75.0,669.0,532.0,-1.400000,44.900000,0.253600
9336,2.108698,1009.000000,52.572300,710.000000,191.0,819.000000,136.0,974.0,1011.0,4.400000,63.900000,0.538500
9337,2.108923,872.000000,52.577918,558.000000,114.0,1054.000000,101.0,807.0,853.0,0.500000,59.400000,0.384100
9338,2.109149,942.000000,52.583537,665.000000,134.0,923.000000,91.0,912.0,956.0,4.400000,56.400000,0.476100
9339,2.109374,1015.000000,52.589157,608.000000,113.0,873.000000,85.0,1027.0,655.0,10.300000,59.400000,0.745900
9340,2.109600,979.000000,52.594777,547.000000,73.0,952.000000,55.0,1039.0,470.0,9.800000,68.900000,0.832900
9341,2.109825,972.000000,52.600398,542.000000,103.0,1029.000000,65.0,1056.0,443.0,9.200000,75.300000,0.876400
9342,2.110051,992.000000,52.606020,565.000000,121.0,912.000000,84.0,1074.0,547.0,9.400000,73.100000,0.862100
9343,2.110276,940.000000,52.611642,583.000000,93.0,942.000000,69.0,991.0,416.0,12.700000,51.800000,0.757400
9344,2.110502,963.000000,52.617264,617.000000,85.0,902.000000,63.0,1006.0,398.0,13.200000,49.700000,0.750300
9345,2.110727,971.000000,52.622888,585.000000,79.0,928.000000,61.0,1004.0,394.0,12.300000,55.900000,0.796600
9346,2.110953,887.000000,52.628512,488.000000,55.0,1184.000000,42.0,908.0,312.0,13.300000,50.100000,0.762400
9347,2.111178,944.000000,52.634136,551.000000,98.0,1063.000000,68.0,985.0,381.0,12.300000,51.800000,0.738400
9348,2.111404,970.000000,52.639761,592.000000,190.0,909.000000,120.0,1018.0,509.0,12.900000,50.400000,0.744800
9349,2.111630,1036.000000,52.645387,636.000000,122.0,845.000000,90.0,1084.0,976.0,8.900000,71.900000,0.820200
9350,2.111855,959.000000,52.651013,578.000000,100.0,909.000000,81.0,1016.0,822.0,10.100000,61.900000,0.763100
9351,2.112081,993.000000,52.656640,640.000000,85.0,848.000000,66.0,1110.0,548.0,13.000000,65.300000,0.970400
9352,2.112307,993.000000,52.662268,604.000000,85.0,848.000000,65.0,1160.0,762.0,14.500000,66.400000,1.091900
9353,2.112532,1122.000000,52.667896,811.000000,181.0,641.000000,92.0,1336.0,1122.0,16.200000,71.200000,1.301300
9354,2.112758,883.000000,52.673524,530.000000,63.0,997.000000,46.0,1102.0,617.0,13.700000,68.200000,1.061100
9355,2.112984,818.000000,52.679154,473.000000,47.0,1257.000000,41.0,898.0,323.0,13.700000,48.800000,0.760600
9356,2.113210,864.000000,52.684784,478.000000,52.0,1116.000000,43.0,958.0,489.0,11.800000,56.000000,0.774300

In [139]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
#transform shape of y
y = le.fit_transform(y)

In [140]:
from sklearn.cross_validation import train_test_split
#split data with 70%, 30%
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,  random_state =0)

In [141]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

In [142]:
#use nn for classify
from sklearn.linear_model import Perceptron
ppn =  Perceptron(n_iter=1000, eta0=0.01, random_state=0)
ppn.fit(X_train_std, y_train)

Perceptron(alpha=0.0001, class_weight=None, eta0=0.01, fit_intercept=True,
      n_iter=1000, n_jobs=1, penalty=None, random_state=0, shuffle=True,
      verbose=0, warm_start=False)

In [143]:
y_pred = ppn.predict(X_test_std)
print('Misclassified sample : %d' % (y_test != y_pred).sum())

from sklearn.metrics import accuracy_score
print('accuracy : %.2f' % accuracy_score(y_test, y_pred))

Misclassified sample : 578
accuracy : 0.79

But it's not desire that the accuracy not very high, maybe i should get better in preprocessing data.